/* Loading */
.blur-ui {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
  transition: filter 0.3s ease;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Toast animation */
.toast-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
}

.custom-toast {
  min-width: 320px;
  pointer-events: all;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.animate-toast {
  animation: toastIn 0.4s ease, toastOut 0.4s ease 2.6s;
}

@keyframes toastIn {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes toastOut {
  to {
    opacity: 0;
    transform: scale(0.8) translateY(-20px);
  }
}
 /*Main Page*/
 .main-item:hover{
    border: 1px solid red;
    color: black;
 }
 .main-item{
     border: 1px solid white !important;
     color: black !important;
     background-color: white !important;
 }
 .main-item img {
     transition: transform 0.2s ease-in-out;
 }
 .main-item img {
     vertical-align: middle;
 }
 .main-item.active {
     background-color: red !important;
     color: white !important;     
     border: none;                
 }
 .main-item.active img {
     transform: scale(1.1);
     transition: transform 0.2s ease-in-out;
 }